* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* Custom Button Color */
#color_btn {
    background-color: #f5511e;
}
/* Section Empty */
#empty {
    width: 100%;
    height: 10vh;
    background-color: #f6f6f6;
}
#icon {
    color: #f5511e;
}
.color {
    background-color: #f6f6f6;
}
#color_bgc {
    background-color: #f5511e;
}
.item {
    background: #333;
    text-align: center;
    height: 300px;
}
.item h2 {
    margin: 0;
    color: #888;
    padding-top: 80px;
    font-size: 30px;
}
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}
@media only screen and (max-width: 1200px) {
    .navset {
        width: 50%;
    }
}
@media only screen and (max-width: 1024px) {
    .navset {
        width: 50%;
    }
}
@media screen and (max-width: 980px) {
    #color_btn {
        padding: 20px 0px;
    }
    .btnside {
        margin: 0px auto;
        display: table;
    }
}
@media only screen and (max-width: 768px) {
    .btnside {
        margin-left: 80px;
    }
    #link {
        text-align: center;
    } 
}
@media only screen and (max-width: 680px) {
    .navset {
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
    .btnside {
        margin: 0 auto;
        display: table;
    }
    #link {
        text-align: center;
    }
}